/* GENERAL STYLES */
/* NAVIGATION */
/* BIO */
/* PURPOSE */
/* DESIGN STANDARDS */
/* FOOTER */
/* ACCORDIONS */
/* PAGE TABS */
/* MOBILE STYLES */

/* GENERAL STYLES */
body, html{
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, header p, .headings, .headings a{
	font-family: 'Ovo', serif;
	color: #293040;
}

h1{
  font-size: 2em;
}

h2{
  font-size: 1.625em;
}

h3{
  font-size: 1.375em;
}

h4{
  font-size: 1.125em;
  line-height: .5em;
}

.headings, .headings a{
	font-size: 1.1em;
}

p, li, a, button{
	font-family: 'Muli', sans-serif;
	color: #293040;
}

a, .headings a, blockquote footer a{
	color: #D97E7E;
	text-decoration: none;
	border-bottom: 1px solid #D97E7E;
	-webkit-transition: 1s; /* Safari prior 6.1 */
  	transition: 1s;
}

a:hover, .headings a:hover, blockquote footer a:hover{
	color: #8DA67B;
	text-decoration: none;
	border-bottom: 1px solid #8DA67B;
}

.code{
  font-family: 'Roboto Mono', monospace;
  color: #AD84BF;
}

.maxScreenSize{
    max-width: 1500px;
    margin: 0 auto !important;
    padding: 1rem;
    margin: auto auto 1rem auto;
}

.content{
	padding: 0 1em;
}

.btn{
	background-color: fff;
	color: #293040;
	padding: 1em;
	border: 1px solid #293040;
	margin: 1em 0;
}

.btn:hover{
	background-color: #293040;
	color: #ffffff;
}

.two_col{
  display: grid;
  grid-template-columns: 1fr;
}

.two_col .btn{
  display: block;
  margin: 0;
}

.two_col.api {
  grid-column-gap: 2em;
}

.api h3 {
  margin-bottom: 0;
}

.microservice p {
  margin: .5em 0;
}

iframe.youTube {
    width: 100%;
    height: 100%;
}

blockquote {
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
}

blockquote:before {
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}
blockquote:after {
    position: absolute;
    float:right;
    font-size:6em;
    line-height: 1;
    right:0;
    bottom:-0.5em;
    content: "\201D";
}
blockquote footer {
  padding: 0 2em 0 0;
  text-align: right;
  background-color: transparent;
  box-shadow: none;
  position: unset;
  bottom: auto;
  width: unset;
  font-family: 'Muli', sans-serif;
  color: #293040;
}
.tutorial_img {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}

/* NAVIGATION */
header{
	background-color: #293040;
	box-shadow: 0 4px 8px 0 rgba(202, 202, 202, 0.9), 0 6px 20px 0 rgba(202, 202, 202, 0.9);
}

header .maxScreenSize {
    display: grid;
    grid-template-columns: 60% 40%;
    color: #ffffff;
    padding: 0 1em;
}

header p, header .icon {
    font-size: 1.5em;
    border: none;
    color: #ffffff;
}

header p a{
  text-decoration: none;
  border: none;
}

header p a:hover{
  text-decoration: none;
  color: #ffffff;
  border: none;
}

header a, footer p {
    color: #ffffff;
}

.header_nav:nth-child(2) {
    justify-self: right;
    align-self: center;
}

.nav_large {
  display: none;
}

.nav_mobile .navigationLinks a.currentPage, .nav_mobile .navigationLinks a.currentPage:hover{
    color: #D97E7E;
    text-decoration: none;
    border-bottom: 1px solid #D97E7E;
}

.nav_mobile  .navigationLinks a:hover{
	border-bottom: 1px solid #293040;
}

.nav_mobile .navigationLinks {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:#fff;
  overflow-x: hidden;
  padding-top: 60px;
  text-align: left;
  z-index: 10;
}

.nav_mobile .navigationLinks a {
  padding: 8px 8px 8px 32px;
  display: block;
  z-index: 10;
  color: #293040;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  font-size: 1.5em;
}

.nav_mobile .navigationLinks .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  border: none;
}

.nav_mobile .closebtn:hover{
	border: none !important;
}

/* BIO */
.content_bio-upper_img {
    border-radius: 50%;
    max-width: 50%;
}

/* PURPOSE */
.purpose, .designColors{
	background-color: rgba(141, 166, 123, .5);;
	background-image: url("../images/brushed-alum-dark.png");
	/* Image from: https://www.transparenttextures.com/; */
  padding: 2.5em;
	background-position: center;
    background-attachment: fixed;
}

.purpose .content, .designColors .content {
    background-color: #ffffff;
    padding: .5em;
    text-align: center;
}

/* DESIGN STANDARDS */
.features {
    margin-bottom: 2em;
}

.colors {
    display: grid;
    grid-row-gap: 1em;
    justify-content: center;
}

.color{
    width: 8em;
    height: 8em;
}

.color_1{background-color: #AD84BF;}
.color_2{background-color: #293040;}
.color_3{background-color: #8DA67B}
.color_4{background-color: #C1D9B0}
.color_5{background-color: #D97E7E}

.color_2 p{color: #fff !important;}


.color p {
    color: black;
    text-align: center;
}

.features p:nth-child(3){
	margin-top:2.5em;
}

/* FOOTER */
footer{
	background-color: #293040;
	box-shadow: -1px 1px 8px 0 rgba(202, 202, 202, 0.9), 0 -6px 20px 0 rgba(202, 202, 202, 0.9);
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.footer_home{
  box-shadow: none;
  margin-top: 0 !important;
}

footer a{
  text-decoration: none;
  border: none;
  color: #ffffff;
}

.social{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
}

.social svg {
    width: 2em;
    fill: #ffffff;
    transition: 1s;
}

.social svg:hover {
    fill: #D97E7E;
    transition: 1s;
}

.social a:hover{
    border: none;
}

.footer_nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
}

.footer_currentPage,.footer_currentPage:hover{
  color: #D97E7E;
}

.footer_nav a:hover{
  color: #D97E7E;
  border: none;
}

/* ACCORDIONS */
.accordion {
  background-color: #fff;
  color: #ffffff;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #8DA67B;
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-out;
}

/* PAGE TABS */
.tab {
  overflow: hidden;
  border-bottom: 1px solid #293040;
  color: #293040;
}

.tab button {
  background-color: transparent;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border: 1px solid #293040;
  border-bottom: none;
}

.tab button:nth-child(n+2) {
    border-left: none;
}

.tab button:hover, .tab button.active {
  background-color: #293040;
  color: #ffffff;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #293040;
  border-top: none;
}

pre[class*="language-"].line-numbers {
  padding: 1em !important;
}

code[class*="language-"], pre[class*="language-"] {
  tab-size: 1 !important;
}

.tabcontent iframe {
  width: 100%;
  min-height: 300px;
  margin-top: 1em;
}

.tabcontent .btn {
    display: block;
}


/* MOBILE STYLES */
@media only screen and (min-width: 425px) {
	.purpose{
		padding: 1em;
	}
}

@media only screen and (min-width: 768px) {
  h1{
    font-size: 2.5em;
  }

  h2{
    font-size: 2em;
  }

  h3, h4{
    font-size: 1.5em;
  }

  .nav_mobile{
    display: none;
  }

  .nav_large{
    display: block;
  }

  .nav_large a {
    color: #ffffff;
    border-bottom: none;
  }

  .nav_large nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    height: 100%;
    font-size: 1.2em;
  }

  .nav_large nav a.currentPage {
    border: none;
    color: #D97E7E;
  }

  .nav_large nav a:hover, .nav_large nav a.currentPage:hover{
    color: #D97E7E;
    border: none;
  }

	.content_bio-upper .content_bio-upper-text{
	  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
	}

  .designStandards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1em !important;
  }

  .designStandards h2{
    grid-column: 1/span all;
  }

	.content_bio-upper{
		text-align: center;
	}

  .colors_top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    justify-items: center;
  }

  .colors_bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    justify-items: center;
  }

  .colors h2{
    grid-column: 1/span all;
  }

  .color:nth-child(4){
    grid-row: 2;
    grid-col: 1;
  }

  .two_col{
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-column-gap: 1em;
  }

  .two_col .btn{
    display: block;
  }

  .two_col h1{
    -ms-grid-column: 1;
    grid-column: 1/span 2;
  }

  .two_col-microservices {
    grid-column-gap: 0;
  }

  .two_col-microservices span {
    border: 1px solid #293040;
    padding: 1em;
  }

  .two_col-microservices span h3 {
    margin: 0;
  }
  .two_col-microservices span p {
    margin: 1em 0 0 0;
  }

  .two_col-microservices span:nth-child(2) {
    border-left: none;
  }

  footer .maxScreenSize {
    display: grid;
    grid-template-columns: 35% 30% 35%;
  }

  .social{
    margin-bottom: 0;
  }

  .footer_nav{
    grid-column: 3;
    grid-column-gap: 1em;
  }

  iframe.youTube {
    height: 25em;
  }

}

@media only screen and (min-width: 1024px) {
	h1{
    font-size: 3em;
  }

  h2{
    font-size: 2.25em;
  }

  h3{
    font-size: 1.75em;
  }

  header{
		grid-column: 1/span 2;
	}

  header .maxScreenSize {
    grid-template-columns: 50% 50%;
  }

	header p {
	    font-size: 2em;
	}

  .nav_large nav {
    font-size: 1.5em;
    justify-items: end;
  }

	.content{
		grid-column: 2;
	}

	.content_bio-upper {
	    display: grid;
	    grid-template-columns: 35% 55%;
	    grid-column-gap: 3em;
	    text-align: left;
	}

	.content_bio-upper span{
		grid-template-columns: 100%;
	}

	.content_bio-upper h2, .content_bio-upper p{
		grid-column: 1;
		grid-row: auto;
	}

	.content_bio-upper_img {
	    border-radius: 50%;
	    max-width: 50%;
	    align-self: center;
	}

	.purpose{
		padding: 2em;
	}

	.purpose .content{
		padding: 1em;
	}

  .tutorial_img {
    width: 80%;
    margin: unset;
    padding: 1em 0;
  }

}

@media only screen and (min-width: 1440px) {
	.purpose {
	    padding: 2em;
	}
}
